In [1]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sc = SparkContext()
sql = SQLContext(sc)

train = sql.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('train.csv')
train.show()

+------+---+------+---+-------+-------------------+---------------+-------------+
|    ip|app|device| os|channel|         click_time|attributed_time|is_attributed|
+------+---+------+---+-------+-------------------+---------------+-------------+
| 83230|  3|     1| 13|    379|2017-11-06 14:32:21|           null|            0|
| 17357|  3|     1| 19|    379|2017-11-06 14:33:34|           null|            0|
| 35810|  3|     1| 13|    379|2017-11-06 14:34:12|           null|            0|
| 45745| 14|     1| 13|    478|2017-11-06 14:34:52|           null|            0|
|161007|  3|     1| 13|    379|2017-11-06 14:35:08|           null|            0|
| 18787|  3|     1| 16|    379|2017-11-06 14:36:26|           null|            0|
|103022|  3|     1| 23|    379|2017-11-06 14:37:44|           null|            0|
|114221|  3|     1| 19|    379|2017-11-06 14:37:59|           null|            0|
|165970|  3|     1| 13|    379|2017-11-06 14:38:10|           null|            0|
| 74544| 64|     1| 22|    459|2017-11-06 14:38:23|           null|            0|
|172522|  3|     1| 25|    379|2017-11-06 14:38:27|           null|            0|
|105861|  3|     1| 13|    379|2017-11-06 14:38:51|           null|            0|
|210962|  3|     1| 19|    379|2017-11-06 14:39:29|           null|            0|
|124979|  3|     1| 18|    379|2017-11-06 14:40:16|           null|            0|
| 38816|  3|     1| 18|    379|2017-11-06 14:40:39|           null|            0|
| 80447|  3|     1| 19|    379|2017-11-06 14:40:51|           null|            0|
|134575|  3|     1| 13|    379|2017-11-06 14:43:10|           null|            0|
| 57576|  3|     1| 19|    379|2017-11-06 14:43:14|           null|            0|
|  7755|  3|     1| 13|    379|2017-11-06 14:43:25|           null|            0|
| 91749|  3|     1| 19|    379|2017-11-06 14:43:51|           null|            0|
+------+---+------+---+-------+-------------------+---------------+-------------+
only showing top 20 rows

In [4]:
train_sample.printSchema()

root
 |-- ip: integer (nullable = true)
 |-- app: integer (nullable = true)
 |-- device: integer (nullable = true)
 |-- os: integer (nullable = true)
 |-- channel: integer (nullable = true)
 |-- click_time: timestamp (nullable = true)
 |-- attributed_time: timestamp (nullable = true)
 |-- is_attributed: integer (nullable = true)

In [7]:
train_sample.select('click_time').show()

+-------------------+
|         click_time|
+-------------------+
|2017-11-07 09:30:38|
|2017-11-07 13:40:27|
|2017-11-07 18:05:24|
|2017-11-07 04:58:08|
|2017-11-09 09:00:09|
|2017-11-09 01:22:13|
|2017-11-09 01:17:58|
|2017-11-07 10:01:53|
|2017-11-08 09:35:17|
|2017-11-08 12:35:26|
|2017-11-08 08:14:37|
|2017-11-07 05:03:14|
|2017-11-09 10:24:23|
|2017-11-08 14:46:16|
|2017-11-07 00:54:09|
|2017-11-08 23:17:45|
|2017-11-09 07:33:41|
|2017-11-09 03:44:35|
|2017-11-06 23:14:08|
|2017-11-06 20:07:00|
+-------------------+
only showing top 20 rows

In [14]:
train_sample.registerTempTable("train_sample")
train_sample.cache()

DataFrame[ip: int, app: int, device: int, os: int, channel: int, click_time: timestamp, attributed_time: timestamp, is_attributed: int]

In [20]:
sql.sql("select count(ip) from train_sample where attributed_time is not null").show()

+---------+
|count(ip)|
+---------+
|      227|
+---------+

In [21]:
sql.sql("select count(ip) from train_sample where attributed_time is null").show()

+---------+
|count(ip)|
+---------+
|    99773|
+---------+

In [26]:
sql.sql("select app, count(app) from train_sample group by app").show()

+---+----------+
|app|count(app)|
+---+----------+
|148|         2|
| 31|         1|
| 85|         2|
|137|         2|
| 65|        18|
| 53|         3|
|133|         1|
| 78|         1|
|108|         3|
| 34|         3|
|101|         4|
|115|         1|
| 81|         2|
| 28|       720|
|183|        26|
| 76|         6|
| 26|      1633|
| 27|       696|
| 44|        13|
|192|         1|
+---+----------+
only showing top 20 rows